<footer class="page-footer font-small ">
        <div class="container ">
            <div  class=" text-center d-flex justify-content-center pt-5 mb-3">

                <div class="col-md-2">
                    <h6 class=" text-uppercase font-weight-bold">
                        <a style="text-decoration: none; color: black" href="/">início</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="cor text-uppercase font-weight-bold">
                        <a style="text-decoration: none; color: black" href="/adocao">adote</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a style="text-decoration: none; color: black" href="/apadrinhamento">apadrinhe</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a style="text-decoration: none; color: black" href="/doe">doe</a>
                    </h6>
                </div>
            </div>
            <hr class="rgba-white-light" style="margin: 0 15%;">
            <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
                <div style="color: black" class="col-md-8 col-12 mt-5">
                    <p style="line-height: 1.7rem">Somos os protetores dos animais abandonados para dar a eles um mundo melhor.</p>
                </div>
            </div>
            <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
            <div class="row pb-3">
            </div>
        </div>
        <div style="background-color: rgba(0, 0, 0, 0.2); color: black;" class="footer-copyright text-center py-3">Copyright &copy;
        <script>
        document.write(new Date().getFullYear());
        </script> Todos os direitos reservados | À nós do TCC.
        </div>
</footer>