
<section class="">
  <footer class="text-center text-white bg-dark footer">
    <div class="container p-4 pb-0">
      <section class="card-body">
        <p class="d-flex justify-content-center align-items-center blockquote">
          <span class="me-3 p-3">Registre-se de graça</span> 
           <a href="/">
              <button type="button" class="btn btn-outline-light btn-rounded">
              Cadastre-se!
              </button>
            </a>
        </p>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Copyright &copy;
        <script>
        document.write(new Date().getFullYear());
        </script> Todos os direitos reservados | À nós do TCC.
    </div>
  </footer>
</section>