<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="caixaLogo">
    <a class="navbar-brand" href="/">
        <img class="logo navbar-brand" src="../../public/img/Logo_Site.svg"alt="logo">  
    </a>
  </div>
  <div class="">
    <a class="navbar-brand titulo" style="color: ivory;" align="center">Protetores<br> Salvando animais</a>
  </div>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-list-5">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-list-5">
    <ul class="navbar-nav  ml-auto dropdown-menu-end">
        <li class="nav-item">
            <a class="nav-link" href="">Início</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/doacao">Doe</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mais ações
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/postagem">Postagens</a>
          <a class="dropdown-item" href="#">Notícias</a>
          <a class="dropdown-item" href="/login">Entrar</a>
        </div>
      </li>   
    </ul>
    <ul class="navbar-nav ">
        <li>
            <a href=""><img src="../../public/img/fbLogo.svg" alt="" width="25px" height="29px"></a>
        </li>
        <li>
            <a href=""><img src="../../public/img/instagramLogo.svg" alt="" width="30" height="30"></a>
        </li>
        <li>
            <a href=""><img src="../../public/img/twitterLogo.svg" alt="" width="30" height="30"></a>
        </li>
    </ul>
  </div>
</nav>