<nav class="navbar navbar-expand-lg ">
    <div class="caixaLogo">
        <a class="navbar-brand" href="/">
            <img class="logoLogin navbar-brand" src="../../public/img/Ativo_1.svg" alt="logo">
        </a>
    </div>

    <a class="navbar-brand titulo" style="color: black;" align="center">Protetores<br> Salvando animais</a>

    
  </div>
</nav>