<nav class="navbar navbar-expand-lg ">
    <div class="caixaLogo">
        <a class="navbar-brand" href="/">
            <img class="logo navbar-brand" src="../../public/img/Logo_Site.svg" alt="logo">
        </a>
    </div>

    <a class="navbar-brand titulo" style="color: black;" align="center">Protetores<br> Salvando animais</a>

    <button class="navbar-toggler collapsed " type="button" data-toggle="collapse" data-target="#navbar-list-5">
        <span class="navbar-toggler-icon">
            <img src="https://img.icons8.com/material-outlined/24/000000/menu--v1.png" />
        </span>
    </button>
</nav>