<center>
  
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../public/img/card.png" alt="Card image cap">
          <div class="card-body">
            <button><a  style="text-decoration: none; color: white;" href="/admpostagem">Postagens</a></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../public/img/card.png" alt="Card image cap">
          <div class="card-body">
            <button><a  style="text-decoration: none; color: white;" href="/doacoes">Doações</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</center>