<h1 class="container">Bem vindo(a) {{Usuario}}</h1>
<center>
  <div class="container">
    <div>
      <h1>{{errorMessage}}<h1></h1>
      <h4>Sair: </h4>
      <a href="/logout" class="btn btn-success" style="color: ivory">Log-out</a>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../public/img/card.png" alt="Card image cap">
          <div class="card-body">
            <button><a  style="text-decoration: none; color: white;" href="/admpostagem">Postagens</a></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../public/img/card.png" alt="Card image cap">
          <div class="card-body">
            <button><a  style="text-decoration: none; color: white;" href="/doacoes">Doações</a></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../public/img/card.png" alt="Card image cap">
          <div class="card-body">
            <button><a  style="text-decoration: none; color: white;" href="/admuser">Usuários</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</center>