<center>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../public/img/card.png" alt="Card image cap">
          <div class="card-body">
            <button>Postagens</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../public/img/card.png" alt="Card image cap">
          <div class="card-body">
            <button>Doações</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</center>