*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo{
    position: absolute;
    margin-top: -60px;
    width: 200px;
    height: 200px;
}

.caixaLogo{
    position: relative;
    width: 150px;
}

.titulo{
    color: ivory;
    width: 500px;
}

.redes-sociais{
    margin-left: 20%;
    
}

.linha{
    height: 5px;
    background-color: gray;
    align-items: center;
}

.imagens{
    border-radius: 15%;
}

@media screen and (max-width: 990px){
    .logo{
        width: 120px;
        height: 120px;
        margin-top: -65px;
    }
}

@media screen and (max-width: 700px) {
    .logo{
        margin-top: -20px;
    }
}

@media screen and (max-width: 600px) {
    .logo{
        display: none;
    }
    .caixaLogo{
        width: 0px;
    }
    .titulo{
        text-align: center;
    }
}