<center class="container">
    <h1>
        Parcerias!
    </h1>
    <br>
    <p>
        Nosso projeto de ajudar aos animais ainda um lugar fixo para abrigar todos a todos, 
        então eles são divididos para ficarem nas casas dos nossos protetores.  
        Muitas das vezes as doações que recebemos não são o suficiente para cuidar dos nossos pets, 
        então, os protetores que juntam o dinheiro que conseguem para alimentá-los e dar todo o tipo 
        de cuidado que eles precisarem. Por isso sua parceria com o nosso projeto ajudaria muito! 
    </p>
</center>
<div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
    <ol class="carousel-indicators">
        <li style="background-color: #28784d;" data-target="#carouselExampleIndicators" data-slide-to="0"
            class="active">
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../../../public/img/slideParceria.jpg" height="500" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h1>Sempre fazemos de tudo para ajudar</h1>
                <h5>Não sei o que colocar</h5>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
<div class="row">
    {{#each postagens}}
    <br>
    <hr>
    <div class="col-md">
        <img class="imagens" src="{{tb_postagem_img}}" style="max-w" width="200px" height="200px">
        
    </div>
    <div class="col-md-8">
        <h2>{{tb_postagem_titulo}}</h2>
        <br>
        <p>{{tb_postagem_conteudo}}</p>
        </p>
    </div>
    {{/each}}
</div>
</div>