<div class="container">
    <center>
        <h1>Requerimento para doação pessoalmente</h1>

    </center>
    <br>
    <div>
        <form runat="server" method="post" action="/req_doacao">
            <br>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="Nome">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Exemplo da Silva"
                        minlength="5" required="true">
                </div>
                <div class="form-group col-md-6">
                    <label for="CPF">CPF</label>
                    <input type="text" id="cpf" class="form-control cpf" name="cpf" data-mask="000.000.000-00"
                        data-mask-reverse="true" placeholder="Ex.: 000.000.000-00" required="true">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="Email">Email</label>
                    <input type="email" id="email" class="form-control" name="email" placeholder="exemplo@gmail.com"
                        required="true">
                </div>
                <div class="form-group col-md-6">
                    <label for="Celular">Celular para contato</label>
                    <input type="text" id="numero" class="form-control" name="numero" placeholder="99 99999-9999"
                        data-mask="00 00000-0000" data-mask-reverse="true" required="true">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="CEP">CEP</label>
                    <input type="text" id="cep" class="form-control cep" name="cep" data-mask="00000-000"
                        data-mask-reverse="true" placeholder="Ex.: 00000-000" maxlength="8" required="true">
                </div>
                <div class="form-group col-md-3">
                    <label for="Número">Número da residência</label>
                    <input type="text" id="numero_casa" class="form-control" name="numero_casa" minlength="0"
                        data-mask="0000" data-mask-reverse="true" required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="Número">Fale o que pretende nos doar...</label>
                <textarea class="form-control" id="mensagem" rows="5" type="text" name="mensagem"
                    placeholder="Conteúdo da mensagem" required="true"></textarea>
            </div>
            <br>
            <br>
            <br>
            <br>
            <center>
                <div class="g-recaptcha" data-sitekey="your_site_key"></div>
            </center>
            <br>
            <br>
            <br>
            <button type="submit" class="btn btn-success btn-block">Realizar requerimento</button>


        </form>
    </div>
</div>
<br>