<div class="caixa-login">
    <br>
    <div class="form">
        <img src="../public/img/user.png" class="image-box">
        <br>
        <form action="">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Quem é você?</option>
                <option value="1">Doador</option>
                <option value="2">Protetor</option>
            </select>
            <br>
            <input class="form-control form-control-lg" type="text" placeholder="Usuário"
                aria-label=".form-control-lg example"><br>
            <input class="form-control form-control-lg" type="password" placeholder="Senha"
                aria-label=".form-control-lg example"><br>
            <button class="btn btn-sm btn-danger">Botão</button>
        </form>
    </div>

</div>